# Node
node_modules
npm-debug.log
.travis.yml
gulpfile.js
karma-test-entry.ts
karma.conf.ts
package-lock.json
release.js
tsconfig-aot.json
tsconfig.json
tslint.json
webpack-test.config.ts
webpack-umd.config.ts
yarn-error.log
.idea/
.vscode/
Thumbs.db
Desktop.ini
.DS_Store
coverage/
demo/
docs
tmp
src/
